## Statistics Using Pandas

In [1]:
import pandas as pd

In [2]:
f_usage = [5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

ser = pd.Series(f_usage)
sum_stat = ser.describe()

print(sum_stat)

count    25.000000
mean      5.760000
std       2.314447
min       2.000000
25%       4.000000
50%       5.000000
75%       8.000000
max      10.000000
dtype: float64

In [3]:
pstdeviation = ser.std(ddof=0)
print(pstdeviation)

2.267686045289339

In [4]:
df = pd.read_csv("population_by_country_2020.csv")

df

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [5]:
first_rows = df.head(10)

first_rows

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
5,Brazil,212821986,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
6,Nigeria,206984347,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
7,Bangladesh,164972348,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
9,Mexico,129166028,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [6]:
last_rows = df.tail(10)

last_rows

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
225,Wallis & Futuna,11203,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
226,Nauru,10836,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
227,Saint Barthelemy,9882,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
228,Saint Helena,6080,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
229,Saint Pierre & Miquelon,5789,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [7]:
sel_country = df[df["Country"] == "Philippines"]

sel_country

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %

In [8]:
sea = df[df["Country"].isin(["Philippines", "Thailand", "Indonesia", "Myanmar", "Laos", "Vietnam", "Brunei", "Singapore", "Malaysia", "Cambodia", "Timor-Leste"])]

sea

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Vietnam,97490013,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
19,Thailand,69830779,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %
25,Myanmar,54473253,0.67 %,364380,83,653290,-163313.0,2.2,29,31 %,0.70 %
44,Malaysia,32436963,1.30 %,416222,99,328550,50000.0,2.0,30,78 %,0.42 %
70,Cambodia,16758448,1.41 %,232423,95,176520,-30000.0,2.5,26,24 %,0.21 %
104,Laos,7293542,1.48 %,106105,32,230800,-14704.0,2.7,24,36 %,0.09 %
113,Singapore,5858322,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
155,Timor-Leste,1322667,1.96 %,25326,89,14870,-5385.0,4.1,21,33 %,0.02 %
174,Brunei,438202,0.97 %,4194,83,5270,0.0,1.8,32,80 %,0.01 %

In [9]:
stat = sea["Population (2020)"].describe()

rstat = round(stat, 2)

rstat

count    1.100000e+01
mean     6.088674e+07
std      8.071049e+07
min      4.382020e+05
25%      6.575932e+06
50%      3.243696e+07
75%      8.366040e+07
max      2.740216e+08
Name: Population (2020), dtype: float64

In [10]:
import pandas as pd

df = pd.read_csv("population_by_country_2020.csv")

sea = df[df["Country"].isin(["Philippines", "Thailand", "Indonesia", "Myanmar", "Laos", "Vietnam", "Brunei", "Singapore", "Malaysia", "Cambodia", "Timor-Leste"])]

sort_sea = sea.sort_values(by = "Population (2020)", ascending = False)

sort_sea

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Vietnam,97490013,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
19,Thailand,69830779,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %
25,Myanmar,54473253,0.67 %,364380,83,653290,-163313.0,2.2,29,31 %,0.70 %
44,Malaysia,32436963,1.30 %,416222,99,328550,50000.0,2.0,30,78 %,0.42 %
70,Cambodia,16758448,1.41 %,232423,95,176520,-30000.0,2.5,26,24 %,0.21 %
104,Laos,7293542,1.48 %,106105,32,230800,-14704.0,2.7,24,36 %,0.09 %
113,Singapore,5858322,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
155,Timor-Leste,1322667,1.96 %,25326,89,14870,-5385.0,4.1,21,33 %,0.02 %
174,Brunei,438202,0.97 %,4194,83,5270,0.0,1.8,32,80 %,0.01 %